<html ng-app="finances">
	<head>
		<title>Finances</title>
		
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 

		<link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="lib/iconmoon/style.css">
		<link rel="stylesheet" href="css/custom.css">
		
		<script type="text/javascript" src="lib/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="lib/angular/angular.min.js"></script>
		<script type="text/javascript" src="lib/angular/angular-locale_pt-br.js"></script>
		
		<script type="text/javascript" src="lib/js/apps/finances.js"></script>
		<script type="text/javascript" src="lib/js/controllers/financesCtrl.js"></script>

	</head>
	<body ng-controller="financesCtrl" id="financesCtrl">
		<div ng-include="'view/header.html'"></div>
		<div class="container">
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
					<input class="form-control" type="search" ng-model="busca" placeholder="Busca">
				</div>
			</div>
			<div ng-show="traders.length > 0" class="traderList">
				<div class="trader row" ng-repeat="trader in traders | filter: busca | orderBy:search:direcaoOrdenacao" ng-class="{warning: trader.checked}">
					<div class="col-xs-12 listDatas">
						<div class="bg-bolsa">
							<div class="row">
								<div class="col-xs-2">Data: {{trader.dataCompra}}</div>
								<div class="col-xs-2">Compra: {{trader.valorCompra | currency}}</div>
								<div class="col-xs-2">Quantidade: {{trader.quantidade}}</div>
								<div class="col-xs-2">Taxa: {{trader.taxa | currency}}</div>
								<div class="col-xs-2">Stop: {{trader.stop | currency}}</div>
								<div class="col-xs-2">Gain: {{trader.gain | currency}}</div>
							</div>
						</div>
					</div>
					<div class="col-xs-1 checkbox-col text-center">
						<input type="checkbox" ng-model="trader.checked">
					</div>
					<div class="col-xs-11">
						<div class="row">
							<h3 class="col-xs-3">{{trader.codigo}}</h3>
							<h3 class="col-xs-3 text-right">{{trader.valorAtual | currency}}</h3>			
							<h3 class="col-xs-3 text-right" ng-class="{'text-danger': (trader.rendaAtual < 0), 'text-success': (trader.rendaAtual >= 0)}">
								<span ng-class="{'glyphicon glyphicon-arrow-down': (trader.rendaAtual < 0), 'glyphicon glyphicon-arrow-up': (trader.rendaAtual >= 0)}"></span>
								{{trader.rendaAtual | currency}}
							</h3>
							<h3 class="col-xs-3 text-right" ng-class="{'text-danger': (trader.percAtual < 0), 'text-success': (trader.percAtual >= 0)}">
								<span ng-class="{'glyphicon glyphicon-arrow-down': (trader.percAtual < 0), 'glyphicon glyphicon-arrow-up': (trader.percAtual >= 0)}"></span>
								{{trader.percAtual | number:2}} %
							</h3>
						</div>
					</div>	
				</div>	
			</div>

			<div class="row" ng-if="ifTraderChecked(traders)">
				<div class="col-xs-12 col-sm-6">
					<div class="form-group">
						<button class="btn btn-success btn-block" ng-click="venderAcao(traders)">Vender Ação</button>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6">
					<div class="form-group">
						<button class="btn btn-danger btn-block" ng-click="apagarAcao(traders)">Apagar Ação</button>
					</div>
				</div>
			</div>

			<form name="traderForm">
				<div class="well">
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Código" ng-model="trader.codigo" ng-required="true">
							</div>
						</div>
						<div class="col-xs-6 col-sm-6">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Valor Compra" ng-model="trader.valorCompra" ng-required="true">
							</div>
						</div>
						<div class="col-xs-6 col-sm-4">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Quantidade" ng-model="trader.quantidade" ng-required="true">
							</div>
						</div>
						<div class="col-xs-6 col-sm-4">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Data Compra" ng-model="trader.dataCompra" ng-required="true">
							</div>
						</div>
						<div class="col-xs-6 col-sm-4">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Taxas" ng-model="trader.taxa">
							</div>
						</div>
						<div class="col-xs-6 col-sm-6">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Stop" ng-model="trader.stop" ng-required="true">
							</div>
						</div>
						<div class="col-xs-6 col-sm-6">
							<div class="form-group">
								<input type="text" class="form-control" placeholder="Gain" ng-model="trader.gain" ng-required="true">
							</div>
						</div>
						<div class="col-xs-12">
							<button class="btn btn-block btn-primary" ng-click="adicionarCompra(trader)" ng-disabled="traderForm.$error.required">Adicionar Compra</button>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div ng-include="'view/footer.html'"></div>
	</body>
</html>