<div class="jumbotron">
	<div class="container">
		<div class="menu-top-right">
			<ul>
				<li id="menu1" class="li">
					<a href="https://github.com/nankym"><span class="glyphicon icon-github"></span> Github</a>
				</li>
				<li id="menu2" class="li">
					<div class="dropdown">
						<a id="dLabel" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-menu-hamburger"></span></a>	
						<ul class="dropdown-menu" aria-labelledby="dLabel">
						    <li><a href="/finances/">Ativas</a></li>
						    <li><a href="/finances/vendidas">Vendidas</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
		<h1>Finance$</h1>
		<h2><small>{{app}}</small></h2>
	</div>
</div>